INFLATABLE_OFFICE_API_KEY=replace_with_rotated_key
BRIDGE_TOKEN=make_a_long_random_secret_here
IO_BASE_URL=https://rental.software/api6

CONFIRMED_STATUS_ID=226783
QUOTE_STATUS_ID=
CONTRACTED_STATUS_ID=
COMPLETE_STATUS_ID=
LARGE_EVENT_THRESHOLD=1000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_REDIRECT_URI=https://callahanentertainment.onrender.com/google/oauth/callback
GOOGLE_OAUTH_STATE_SECRET=

GA4_PROPERTY_ID=
SEARCH_CONSOLE_SITE_URL=
GOOGLE_ADS_CUSTOMER_ID=
GOOGLE_ADS_LOGIN_CUSTOMER_ID=
GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_API_VERSION=v25

GOOGLE_BUSINESS_ACCOUNT_ID=
GOOGLE_BUSINESS_LOCATION_ID=
